/*********** general styles *************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0; 
	font:10px Verdana,Arial;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

                  
body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse;border-spacing: 0;}


html { height: 101%; }

body {
	color: #000;
	background-color: #dcdcdc;
	font-size: 11px;
}

a {
	text-decoration: none;
	color: #1883ba;
}

h1{
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 18px;
}

h2{
	font-size: 18px;
}

/*******************************************/


/************** tabs ***********************/

.tabs {
	background: #444;
	position: relative; 
	height:45px;  
	min-height: 450px;  
	clear: both;
	margin: 0;
	padding-left:20px;
	padding-right:20px;
	
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.tab {
	float: left;
}

.tab label {
	background: #444; 
	color: white;
	font: bold 12px/12px 'Arial';
	font-weight:bold;
	text-transform: uppercase;
	padding-top: 5px; 
	padding-bottom: 9px; 
	padding-left: 15px; 
	padding-right: 15px; 
	border: 1px solid #ffffff; 
	position: relative;
	left: 1px; 
	top:2px;
	
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;

	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
}

.tab [type=radio] {
	display: none;   
}

.content {
	position: absolute;
	top: 24px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 0px;
	padding-top:3px;
	border-left: 1px solid #999999; 
	border-right: 1px solid #999999; 
	border-bottom: 1px solid #999999; 
	overflow:hidden;
	
	//-moz-border-radius-bottomright: 15px;
	//-webkit-border-bottom-right-radius: 15px;
	//border-bottom-right-radius: 15px;
	//-moz-border-radius-bottomleft: 15px;
	//-webkit-border-bottom-left-radius: 15px;
	//border-bottom-left-radius: 15px;
	
	-moz-box-shadow: 2px 4px 4px #666;
	-webkit-box-shadow: 2px 4px 4px #666;
	box-shadow: 1px 4px 4px #666;
}

[type=radio]:checked ~ label {
	background: white;
	color:#444;
	border-bottom: 1px solid white;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 1;
}
/******************************************/


/****** generic display containers ******/

#container {
	width: 865px;
	margin: 0px auto;
	
}

#controlbar, a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 8px;
	font-family:"Arial","Helvetica", San-Serif;
	font-size: 12px;
	color: #2F2727;
	text-decoration: none;
	text-align:right;
}


#header {
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	font-family:"Times",Serif;
	font-size: 36px;
	background-color: #395c77;
	color: #fff;
	
	text-shadow: 1px 1px 1px #000, 3px 3px 5px green;
	
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-left-radius: 15px;
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(radial, 30% 40%, 0, 80% 40%, 100, from(#1a82f7), to(#2F2727)); 
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(30% 40%, closest-corner, #1a82f7, #2F2727); 
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(30% 40%, closest-corner, #1a82f7, #2F2727); 
	/* IE 10 */ 
	background: -ms-radial-gradient(30% 40%, closest-corner, #1a82f7, #2F2727); 
	/* Opera cannot do radial gradients yet */
}

#header span {
	color: #666;
}

.pageheader {
	color: #6666cc;
	font-size:18px;
	font-weight:bold;
	padding-bottom:15px;
}


#footer p {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 50px;
	color: #333;
	font: 10px Arial, sans-serif;
}
/************************************************/


/**************** accordian *********************/

.AccordionTitle, .AccordionContent, .AccordionContainer
{
  position:relative;
  width:820px;
}

.AccordionTitle
{
  height:20px;
  overflow:hidden;
  cursor:pointer;
  font-family:Arial;
  font-size:8pt;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
  background-repeat:repeat-x;
  display:table-cell;
  background-image:url('../assets/title_repeater.jpg');
  -moz-user-select:none;
}

.AccordionContent
{
  height:0px;
  overflow:auto;
  display:none;
}

.AccordionContainer
{
  border-top: solid 1px #C1C1C1;
  border-bottom: solid 1px #C1C1C1;
  border-left: solid 2px #C1C1C1;
  border-right: solid 2px #C1C1C1;
}
/********************************************/



/*********** this stuff is for tiny table (datagrid) ************/
* {margin:0; padding:0; outline:none}
body { margin:10px; background:#fff url(../assets/bg.gif) repeat-x; color:#091f30}

.sortable {width:100%; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sortable th {background:url(../assets/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sortable th h3 {font-size:10px; padding:6px 8px 8px}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(../assets/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:url(../assets/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../assets/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../assets/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}

#controls {width:100%; margin:0 auto; height:20px; padding-top:15px;}
#perpage {float:right;}
#perpage select {float:right; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:33%; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:33%; text-align:left; margin-top:2px}
/***************************************************************/


/*************** this is for tinybox2 (modal popup) ************/
.popmod {display:inline;list-style:none; margin-bottom:3px; padding:2px; border:1px solid #ccc; background:#eee; cursor:pointer}
.popmod:hover {border:1px solid #bbb; background:#e3e3e3}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(../assets/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(../assets/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {
	background:#fff6a1; 
	color:#333333; 
	/*text-shadow:1px 1px #1b6116;*/
	border-right:1px solid #000; 
	border-bottom:1px solid #000; 
	padding:10; -moz-border-radius:5; 
	border-radius:5}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}
/**************************************************************/


/*************** this is for viewstack ************/
.vsbutton {
	display:inline;
	list-style:none;
	margin-bottom:5px; 
	padding-left:12px; 
	padding-right:12px; 
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	border:1px solid #ccc; 
	background:#eee; 
	cursor:pointer
}
.vsbutton:hover {
	border:1px solid #bbb; 
	background:#e3e3e3
}

.ckbox label {
	background: #ffffff; 
	color: #000000;
	font: bold 12px/12px 'Arial';
	font-weight:bold;
	text-transform: uppercase;
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 5px; 
	padding-right: 0px; 
	border: 0px solid #ffffff; 
	position: relative;
	left: 0px; 
	top:0px;
	
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;

	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.floatDiaBox-wrap {
	visibility:hidden;
	cursor:pointer;
	position:relative;
	z-index:10000;
	background-color:#bbbbbb;
	border-style:solid;
	border-width:1px;
	border-color:#444444;
	width:200px;
	height:150px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	overflow:hidden;
	-moz-box-shadow: 2px 4px 4px #666;
	-webkit-box-shadow: 2px 4px 4px #666;
	box-shadow: 1px 4px 4px #666;
}

.floatDiaBox-title {
	font-size:10px;
	font-weight:bold;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:3px;
	padding-top:2px;
}

.floatDiaBox-content {
	width:100%;
	height:100%;
	background-color:#ffffff;
	padding:10px;
	border-style:solid;
	border-top-width:1px;
	border-color:#444444;
}





/************************ this is for menu bar ************************/


.Custom_menuBar_top{	/* The bar that is parent of the menu strip */
	height:26px;
	width:100%;
	background-repeat:repeat-x;
	font-family: Arial;
	font-size:11px;
	z-index:100000;
	padding-left:10px;
	padding-right:30px;
	background-image:url('../assets/menu_strip_bg_gray.gif');
}

.Custom_menuBar_sub{
	position:absolute;
	background-color:#FFF;
	border:1px solid #000;
	background-image:url('../assets/menu-bar-gradient-gray.gif');	/* Background image for sub menu items */
	background-repeat:repeat-y;
	background-position: left center;
	display:inline;
}

.Custom_menuItem_top_regular,.Custom_menuItem_top_over,.Custom_menuItem_top_click,.Custom_menuItem_top_disabled,.Custom_menuItem_top_active{
	height:19px;
}
.Custom_menuItem_top_regular div,.Custom_menuItem_top_over div,.Custom_menuItem_top_click div,.Custom_menuItem_top_disabled div,.Custom_menuItem_top_active div{
	padding-top:2px;
	padding-bottom:2px;
}
.Custom_menuItem_top_regular{	/* Top level menu item - Regular state */
	float:right;
	padding-left:4px;
	padding-right:4px;
	margin-right:2px;
	padding-top:1px;
	padding-bottom:1px;	
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
}

.Custom_menuItem_top_over{ /* Top level menu item - Mouse over state */
	padding-left:3px;
	padding-right:3px;
	margin-right:2px;
	border:1px solid #000;
	background-color:#cccccc;
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
}

.Custom_menuItem_top_active{	/* Top level menu item - Active state - this is typical the state for menu item 1 when a sub group is expanded and the mouse is located over one of the sub menu items */
	padding-left:3px;
	padding-right:3px;
	margin-right:2px;
	border:1px solid #000;
	border-bottom:1px solid #FFF;
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
}

.Custom_menuItem_top_click{	/* Top level menu item - Mouse click state */
	padding-left:3px;
	padding-right:3px;
	margin-right:2px;
	border:1px solid #000;
	background-color:#94B94A;
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
	z-index:20000;
}

.Custom_menuItem_top_disabled{	/* Disabled menu item */
	padding-left:4px;
	padding-right:4px;
	margin-right:2px;
	padding-top:1px;
	padding-bottom:1px;
	cursor:default;
	line-height:16px;
	margin-top:2px;	
}

.Custom_menuItem_top_disabled img,.Custom_menuItem_top_disabled div{
	filter:alpha(opacity=30);
	opacity:0.3;

}

.Custom_menuItem_top_disabled div,.Custom_menuItem_top_active div, .Custom_menuItem_top_click div, .Custom_menuItem_top_regular div,.Custom_menuItem_top_over div{	/* divs for the text,icon and arrow of a menu item */
	float:left;
	padding-left:1px;
	padding-right:1px;
}

/* CSS FOR THE SMALL ARROW DIV - WHEN YOU CLICK ON THIS DIV, SUB ELEMENTS WILL SHOW */
.Custom_menuItem_top_arrowShowSub{
	width:12px;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url('../assets/menu_strip_down_arrow.png');
	margin:0px;
	margin-right:-1px;
	/* ma\rgin-right:-3px;	/* Size of padding-right of top menu items - used to get the arrow to apear at the right of the menu item */
	
	padding:0px;
	height:16px;
	margin-left:2px;
	float:right;
}

.Custom_menuItem_top_over .Custom_menuItem_top_arrowShowSub,
.Custom_menuItem_top_click .Custom_menuItem_top_arrowShowSub
{	/* Sub menu arrows */
	margin-left:1px;
	border-left:1px solid #000;
}

/* CSS FOR SEPARATOR */

.Custom_menuItem_separator_top{	/* Separator of type "top" */
	height:20px;
	margin-top:3px;
	margin-bottom:3px;
	width:4px;
	padding-left:3px;
	padding-right:3px;
	background-repeat:repeat-y;
	background-image:url('../assets/menu_strip_separator-gray.gif');
	
}


/* CSS FOR MENU ITEM OF TYPE "sub" */

.Custom_menuItem_sub_regular, .Custom_menuItem_sub_over,.Custom_menuItem_sub_click,.Custom_menuItem_sub_disabled,.Custom_menuItem_sub_active{	/* Commom css for regular, mouse over and mouse click items */
	clear:both;	
	line-height:18px;
	height:18px;	
	padding-left:25px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;	
	cursor:pointer;	
	margin:1px;
	background-repeat:no-repeat;
}
.Custom_menuItem_sub_disabled{
	cursor:default;
}
.Custom_menuItem_sub_disabled div,.Custom_menuItem_sub_disabled{	/* Disabled sub menu item - Here, we apply the rules on the divs inside the element, i.e. the div for the icon, text and arrow */
	filter:alpha(opacity=30);
	opacity:0.3;
}
.Custom_menuItem_sub_regular{	/* Regular menu item */
	margin-left:2px;	/* size of margin above + 1 pixel */
	padding-top:3px;	/* Size of padding-top above + 1 pixel */
	padding-bottom:3px;	/* Size of padding-bottom above + 1 pixel */
}

.Custom_menuItem_sub_over,.Custom_menuItem_sub_click,.Custom_menuItem_sub_active{
	border:1px solid #006;
}


.Custom_menuItem_sub_regular div, .Custom_menuItem_sub_over div,.Custom_menuItem_sub_click div{
	float:left;	/* To get the icons and text of sub elements side by side */
}

.Custom_menuItem_sub_over,.Custom_menuItem_sub_active{	/* Mouse over effect */	
	background-color:#98BF4C;		
}

.Custom_menuItem_sub_click{	/* Mouse click effect */
	background-color:#94B94A;
}

.Custom_menuItem_sub_click div, .Custom_menuItem_sub_regular div,.Custom_menuItem_sub_over div,.Custom_menuItem_sub_active div,.Custom_menuItem_sub_disabled div{	/* divs for the text,icon and arrow of a menu item */
	float:left;
	padding-left:1px;
	padding-right:1px;
	
}
.Custom_menuItem_sub_arrowShowSub{	/* Arrow div for sub elements (Right pointing arrow ) */
	background-image:url('../assets/menu-bar-right-arrow.png');	/* Path relative to the css file */
	width:18px;
	height:18px;
	text-align:right;
	position:absolute;
	right:0px;
	background-repeat:no-repeat;
	background-position: center right;
}


.Custom_menuItem_separator_sub{	/* Separator of type "sub" */
	height:1px;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:24px;
	padding-right:3px;
	background-color:#aeaeae;
	
}

//********************* this is for the map ***********************/

.dojoxResizeHandle {
	right: 0px;
	bottom: 0px;
  }


//****************** this is for geolocation *********************/
@-webkit-keyframes
   pulse
  {
	0%
	{
	  opacity: 1.0;

	}
	45%
	{
	  opacity: .20;

	}
	100%
	{
	  opacity: 1.0;

	}
  }
 @-moz-keyframes
   pulse
  {
	0%
	{
	  opacity: 1.0;
	}
	45%
	{
	  opacity: .20;

	}
	100%
	{
	  opacity: 1.0;
	}
  }

  #map_graphics_layer
  {
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: pulse;
  }
  
  .olControlNavToolbar
  {
	top:100px;
  }
